body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    margin: 100px 0px 0px 0px;
    font-weight: normal;
    font-size: 25px;
    transition: all 0.5s;
}

.running {
    background-color: black;
    color: white;
}

.stopped {
    background-color: white;
    color: black;
}

button {
    font-family: "Roboto Mono", monospace;
    border: none;
    font-size: 20px;
    font-weight: normal;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    transition: 0.3s all;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: grey 0px 5px 5px;
}

button i {
    transition: 0.3s all;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: grey 0px 8px 8px;
}

button:hover i {
    transform: scale(1.1);
}

body.running button {
    color: black;
    background-color: white;
}

body.stopped button {
    color: white;
    background-color: black;
}

h1 {
    font-size: 100px;
    margin-top: 5px;
    font-weight: normal;
}

.count-dim {
    opacity: 0.5;
}

h1 span {
    font-size: 50px;
}

i {
    font-size: 24px;
}

.spinning {
    animation-duration: 1s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.77, 0, .18, 1);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes pulse {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}