body {
    font-family: "Camcorder Monospaced", "Roboto Mono", monospace;
    text-align: center;
    margin: 100px;
    background-color: black;
    color: white;
    text-shadow: grey 0px 2px 5px;
    font-weight: normal;
    font-size: 25px;
    transition: all 0.5s;
}

button {
    font-family: "Camcorder Monospaced", "Roboto Mono", monospace;
    color: black;
    background-color: white;
    border: none;
    font-size: 20px;
    font-weight: normal;
    padding: 5px;
    border-radius: 10px;
    box-shadow: grey 0px 2px 5px;
    margin-top: 100px;
}

h1 {
    font-size: 100px;
    margin-top: 5px;
}

span {
    font-size: 50px;
}

i {
    font-size: 24px;
}

.spinning {
    animation-duration: 1s;
    animation-name: spin;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        text-shadow: grey 0px 2px 5px;
    }

    100% {
        transform: rotate(180deg);
        text-shadow: grey 0px -2px 5px;
    }
}